.hero-container {
    height: 90vh;
    color: var(--color-dark-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}