#root {
    --color-primary-1: #1B9AAA; 

    --color-light-1: white;
    --color-light-2: #F5F1E3;
    --color-light-3: #DDDBCB;

    --color-dark-1: black;
    --color-dark-2: rgb(35, 35, 35);
    --color-dark-3: rgb(120, 120, 120);
    --color-dark-4: rgb(190, 190, 190);

    --color-danger-1: rgb(223, 51, 51);
}

html {
    font-family: "Livvic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--color-light-2);
    margin: 0;
}