.home-container {
    margin: 0 auto;
    width: clamp(5px, 98vw, 2000px);
}

.hero-section {
    margin-top: 70px;
}

.hero-img {
    display: block;
    width: clamp(300px, 50vw, 5000px);
    margin: 0 auto;
}

.hero-quote-type {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: clamp(50px, 10vw, 250px);
}

.about-title {
    margin-bottom: 20px;
    text-align: center;
}

.about-section {
    max-width: clamp(250px, 60vw, 2000px);
    margin: 0 auto;
}

.about-grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}


.about-content p {
    margin-top: 0;
    font-size: clamp(13px, 1vw, 30px);
}

.portrait-image {
    width: 100%;
    object-fit:fill;
}

.experience-section {
    text-align: left;
    margin-left: 2vw;
    width: clamp(250px, 90vw, 1800px);
    font-size: 1rem;
}

.experience-title {
    margin: 0;
    margin-bottom: 40px;
}

.experience-content h3 {
    font-size: clamp(20px, 2vw, 40px);
    margin: 0;
}

.experience-content h2 {
    font-size: clamp(15px, 1.4vw, 30px);
}

.experience-content li {
    font-size: clamp(12px, 1vw, 25px);
}

.experience-content-item {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-radius: 20px;
    border-bottom: 2px solid var(--color-dark-3);
}

.experience-content-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0;
}

.experience-content-company {
    margin-bottom: 30px;
}

.experience-content ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 1vw, 50px);
    font-size: 1.1rem;
}

.experience-content li {
    list-style: none;
    padding: 15px;
    background-color: var(--color-dark-3);
    border-radius: 20px;
}

