.home-container {
    margin-left: 15px;
    margin-right: 15px;
}

.hero-section {
    margin-top: 70px;
    min-height: 95vh;
}

.hero-img {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-quote-type {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: clamp(5rem, 10vw, 10rem);
}

.about-title {
    font-size: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.about-section {
    max-width: 1200px;
    margin: 0 auto;
}

.about-grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.about-content h1 {
    font-size: 40px;
    font-weight: 500;
}

.about-content p {
    font-size: 20px;
}

.portrait-image {
    max-width: 500px;
    object-fit:fill;
}

.about-content h1 {
    font-size: 5rem;
}

.experience-section {
    text-align: left;
    max-width: 1500px;
    font-size: 1rem;
}

.experience-title {
    font-size: 8rem;
    margin: 0;
    margin-bottom: 40px;
}

.experience-content h3 {
    font-size: 2rem;
    margin: 0;
}

.experience-content-item {
    margin-left: 10px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    border-bottom: 2px solid var(--color-dark-3);
}

.experience-content-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0;
}

.experience-content-company {
    margin-bottom: 30px;
}

.experience-content ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    font-size: 1.1rem;
}

.experience-content li {
    list-style: none;
    padding: 15px;
    background-color: var(--color-dark-3);
    border-radius: 20px;
}

