.header {
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-nav {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.header-nav .left {
  flex: 1;
}

.header-nav .center {
  display: flex;
  gap: 40px;
  justify-content: center;
  position: absolute;
}

.header-nav .right {
    flex: -1;
}