.header {
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    mix-blend-mode: difference;
    color: var(--color-light-1);
    font-size: clamp(1rem, 1vw, 1.75rem);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.header-nav a {
  text-decoration: none;
  color: inherit;
}

.header-nav div {
  display: inline-flex;
  gap: 50px;
}

.header-nav .header-nav-action-menu {
  display: none;
}

@media (max-width: 768px) {

  .header-nav .header-nav-action {
    display: none;
  }

  .header-nav .header-nav-action-menu {
    display: inline-flex;
  }
}