.typing-container {
    font-weight: bold;
    font-style: normal;
    font-size: clamp(40px, 7vw, 200px);
    height: 90vh;
    display: flex;
    white-space: pre;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    flex-direction: column;
}

.typing-correct {
    color: var(--color-primary-1);  
}

.typing-incorrect {
    color: var(--color-danger-1);
}

.typing-empty {
    color: var(--color-dark-4);
}

.help-text {
    display: flex;
    font-size: clamp(12px, 1vw, 90px);
    margin: 0;
    margin-bottom: 5px;
    color: var(--color-dark-4)
}